body {
  font-family: "Space Mono", monospace; /* 1 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Space Mono", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
